.bs-html-etquetas {
    color: rgb(0, 53, 167) !important;
}

.bs-html-cadenas {
    color: rgb(40, 125, 252) !important;
}

.bs-html-operadores {
    color: black !important;
}

.bs-html-attr {
    color: rgb(0, 82, 102) !important;
}

.bs-html-comentarios {
    color: rgb(35, 142, 168) !important;
}