.bs-html-etquetas {
    color: rgb(250, 40, 162) !important;
}

.bs-html-cadenas {
    color: rgb(13, 96, 121) !important;
}

.bs-html-operadores {
    color: black !important;
}

.bs-html-attr {
    color: rgb(175, 32, 151) !important;
}

.bs-html-comentarios {
    color: rgb(97, 17, 134) !important;
}